@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fade-up 4s cubic-bezier(0.05, 0.98, 0.17, 0.97) forwards;
}

/* Visual styling */
body {
  background: #c8a2c8;
  color: #2d2a2a;
  /*font-family: Helvetica Neue, Arial;*/
  font-family: "Pacifico";
  -webkit-font-smoothing: antialiased;
  webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.content {
  max-width: 780px;
  margin: 0 auto;
}

.image {
  background-image: url(https://i.postimg.cc/xdGmW23j/IMG-20240124-154835-729.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25em;
  height: 20em;
  width: 15em;
  float: left;
  margin: 0 2em 1em 0;
}

h1 {
  font-weight: 200;
  font-size: 4em;
  margin: 1em auto;
  text-align: left;
}

p {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.33em;
}

h1.fade-up {
  opacity: 0;
  animation-delay: 0.2s;
}

p.fade-up {
  opacity: 0;
  animation-delay: 0.4s;
}

.image {
  opacity: 0;
  animation-delay: 0.4s;
}
.btn {
  background-color: #ffffff;
  color: #2d2a2a;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}
